<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="utf-8">
        <title>注册成功</title>
        <link rel="stylesheet" type="text/css" href="css/common.css">
        <link rel="stylesheet" href="css/register.css">
		<!--导入jquery-->
		<script src="../static/js/jquery-3.3.1.js"></script>
    </head>
    <body>
    <!--引入头部-->
    <div id="header"></div>
    <div style="background: url(https://timgsa.baidu.com/timg?image&quality=80&size=b9999_10000&sec=1575954178303&di=4505f973bd74d00abdda63a0e243da32&imgtype=0&src=http%3A%2F%2Fimg.zcool.cn%2Fcommunity%2F0172be5602063b6ac7251df8ca6585.jpg%402o.jpg);height: 580px">
        <!-- 头部 end -->
    	<div style="text-align:center;red:yellow;font-weight:bold;height:150px;padding-top:100px;font-size:30px;">
            <h4>离注册成功还差最后一步！</h4>
            <h4>请前往您的注册邮箱激活账号，激活后才能<a href="login.html">登录</a>。</h4>
    	</div>
        <!--引入尾部-->
    	<div id="footer"></div>
    </div>
    <!--导入布局js，共享header和footer-->
    <script type="text/javascript" src="../static/js/include.js"></script>
    </body>
</html>